<p>
{{#results}}
    <h1>{{label}}</h1>
    {{#each links}}
        <br/>
        <a href="{{this}}" target="_blank">{{this}}</a>
    {{/each}}
    <br/>
    <iframe src="http://nodejs.org" style="width: 100%; height: 500px; margin-top: 20px;"></iframe>
{{/results}}

</p>