<header>
    <a href="#!search"><div id="mmenuSearch" class="inline button icone32">Recherche</div></a>
    <a href="#!folder"><div id="mmenuWatch" class="inline button icone32">Surveillance</div></a>
    <!--<a href="#!history"><div id="mmenuLog" class="inline button icone32">Historique</div></a>-->

    <div class="stateNav">
        <div class="stateBack"></div>
        <div class="stateNext"></div>
    </div>

    <a href="#"><div id="mmenuQuit" class="inline button icone32 rightButton" style="display: none;">Quitter</div></a>
    <a href="#!setting"><div id="mmenuSetting" class="inline button icone32 rightButton">Paramètres</div></a>
</header>
<section id="page" class="initState">
</section>
<footer>
    <span id="footer-main">
        {{title}} - {{label}} {{versionLabel}}
    </span>
</footer>