<div id="saveSearch" data-rel="dialog" title="Suivre cette recherche" style="display: none; padding-top: 20px;">

    <div class="labelForm"><label>Libellé : </label></div><input type="text" id="searchLabel" value="{{label}}" class="inputForm" size="40" /><br/>

    <div class="labelForm"><label>Url : </label></div><input type="text" id="searchUrl" value="{{url}}" class="inputForm" size="50"/><br/>

    <div class="errorContainer" style="display: none;">
        <label class="errorTitle">Erreurs :</label><br/>
        <label class="errorMessage">Message d'erreur...</label>
    </div>

    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix" style="text-align: right; margin-top: 20px">
        <div id="btnValidate" class="button vert">Valider</div>
        <div id="btnCancel" class="button vert">Annuler</div>
    </div>
</div>